n8n/workflows/geo_pressure.json
{
  "name": "🗺️ Geo Pressure Monitor — Wilaya Overload Detection",
  "nodes": [
    {
      "id": "booking-webhook",
      "name": "📥 New Booking Event",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "new-booking",
        "responseMode": "onReceived",
        "responseData": "{ \"received\": true }"
      },
      "notes": "يُستدعى عند كل حجز جديد من FastAPI"
    },
    {
      "id": "check-wilaya-load",
      "name": "📊 Check Wilaya Booking Load",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [320, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT w.name_ar, w.code, COUNT(b.id) AS active_count FROM bookings b JOIN wilayas w ON w.id = b.wilaya_id WHERE b.wilaya_id = (SELECT wilaya_id FROM bookings WHERE id = '{{ $json.booking_id }}') AND b.booking_status IN ('confirmed', 'paid') AND b.created_at >= NOW() - INTERVAL '24 hours' GROUP BY w.name_ar, w.code;",
        "options": {}
      },
      "credentials": { "postgres": { "id": "1", "name": "Rafiq PostgreSQL" } }
    },
    {
      "id": "check-threshold",
      "name": "🔥 Is Overloaded? (threshold: 10)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [540, 300],
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [{ "leftValue": "={{ $json.active_count }}", "rightValue": 10, "operator": { "type": "number", "operation": "gte" } }]
        }
      },
      "notes": "10 حجوزات خلال 24 ساعة = منطقة ذروة"
    },
    {
      "id": "send-geo-alert",
      "name": "🚨 Send Geo Pressure Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 200],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/alerts/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "geo_pressure" },
            { "name": "title_ar", "value": "=🔥 ضغط جغرافي — ولاية {{ $json.name_ar }}" },
            { "name": "body_ar", "value": "={{ $json.active_count }} حجز نشط خلال 24 ساعة. منطقة ذروة تحتاج تدخلاً!" },
            { "name": "severity", "value": "warning" },
            { "name": "metadata", "value": "={{ JSON.stringify({ wilaya_code: $json.code, count: $json.active_count }) }}" }
          ]
        }
      }
    },
    {
      "id": "cron-geo-scan",
      "name": "⏰ Periodic Geo Scan (every 2h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [100, 500],
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 2 }]
        }
      }
    },
    {
      "id": "scan-all-wilayas",
      "name": "🔍 Scan All 58 Wilayas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [320, 500],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT w.name_ar, w.code, COUNT(b.id) AS active_count FROM wilayas w JOIN bookings b ON b.wilaya_id = w.id WHERE b.booking_status IN ('confirmed','paid') AND b.created_at >= NOW() - INTERVAL '24 hours' GROUP BY w.name_ar, w.code HAVING COUNT(b.id) >= 10 ORDER BY active_count DESC;",
        "options": {}
      },
      "credentials": { "postgres": { "id": "1", "name": "Rafiq PostgreSQL" } }
    },
    {
      "id": "alert-all-hot-wilayas",
      "name": "🔥 Alert Hot Wilayas to CEO",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [540, 500],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/alerts/",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type", "value": "geo_pressure_report" },
            { "name": "title_ar", "value": "=🗺️ تقرير الضغط الجغرافي — {{ $input.all().length }} ولاية مزدحمة" },
            { "name": "body_ar", "value": "={{ $input.all().map(r => `${r.json.name_ar}: ${r.json.active_count} حجز`).join(' | ') }}" },
            { "name": "severity", "value": "warning" }
          ]
        }
      }
    }
  ],
  "connections": {
    "📥 New Booking Event": { "main": [[{ "node": "📊 Check Wilaya Booking Load", "type": "main", "index": 0 }]] },
    "📊 Check Wilaya Booking Load": { "main": [[{ "node": "🔥 Is Overloaded? (threshold: 10)", "type": "main", "index": 0 }]] },
    "🔥 Is Overloaded? (threshold: 10)": { "main": [[{ "node": "🚨 Send Geo Pressure Alert", "type": "main", "index": 0 }], []] },
    "⏰ Periodic Geo Scan (every 2h)": { "main": [[{ "node": "🔍 Scan All 58 Wilayas", "type": "main", "index": 0 }]] },
    "🔍 Scan All 58 Wilayas": { "main": [[{ "node": "🔥 Alert Hot Wilayas to CEO", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Africa/Algiers" },
  "tags": [{ "name": "geo" }, { "name": "monitoring" }, { "name": "rafiq" }]
}
